{% extends "layout.html" %}

{% block title %}Forum Creator{% endblock %}

{% block content %}

<h1>Create a Forum</h1>
{% if logged_in %}
<form action="/page1" method = 'post'>
	<div>
		<label for='forum' class = 'form-label'>Which forum would you like to post this to?
		<select id = 'forum' class="form-select" name = 'forum'>
			<option value = 'baking'>Baking Forum</option>
			<option value = 'cooking'>Cooking Forum</option>
		</select>
	</div>
	<br>
	<div class="mb-3 mt-3">
		<label for="title" class="form-label">Title:</label>
		<input type="title" class="form-control" id="title" placeholder="Enter Title" name="title">
	</div>
	<br>
	<div class="mb-3">
		<label for="contentt" class="form-label">Content:</label>
		<input type="contentt" class="form-control" rows = "7" id="contentt" placeholder="Enter content" name="contentt">
	</div>
	<br>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
<h3>You are unable to create a post because you are not signed in.</h2>
<br>
<form action="/login">
<button type="submit" class="btn btn-primary">Sign In</button>
</form>
<br>
<form action="/page1">
<button type="submit" class="btn btn-primary">Return to Previous Page</button>
</form>
{% endif %}

  <h1>Create a Forum</h1>

{% if logged_in %}
	<form action="/page1">
	  <div class="mb-3 mt-3">
		<label for="title" class="form-label">Title:</label>
		<input type="title" class="form-control" id="title" placeholder="Enter Title" name="title">
	  </div>
	  <br>
	  <div class="mb-3">
		<label for="contentt" class="form-label">Content:</label>
		<input type="contentt" class="form-control" rows = "7" id="contentt" placeholder="Enter content" name="contentt">
	  </div>
	  <br>
	  <div>
		<label for='forum' class = 'form-label'>Which forum would you like to post this to?
		<select id = 'forum' class="form-select">
			<option>Baking Forum</option>
			<option>Cooking Forum</option>
		</select>
	  </div>
	  <br>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% else %}
	<p>Please log in to post to the forum.</p>

{% endif %}

{% endblock %}
