{% extends "layout.html" %}

{% block title %}Forum Creator{% endblock %}

{% block content %}
{% if logged_in %}
<div class = 'add'>
	<h1>Create a Forum</h1>
	<form action="/page1" method = 'post'>
		<div>
			<label for='forum' class = 'form-label'>Which forum would you like to post this to?
			<select id = 'forum' class="form-select" name = 'forum'>
				<option value = 'baking'>Baking Forum</option>
				<option value = 'cooking'>Cooking Forum</option>
			</select>
		</div>
		<br>
		<div class="mb-3 mt-3">
			<label for="title" class="form-label">Title:</label>
			<input type="title" class="form-control" id="title" placeholder="Enter Title" name="title">
		</div>
		<br>
		<div class="mb-3">
			<label for="contentt" class="form-label">Content:</label>
			<input type="contentt" class="form-control" rows = "7" id="contentt" placeholder="Enter content" name="contentt">
		</div>
		<br>
		<button type="submit" class="btn btn-info">Submit</button>
	</form>
</div>
{% else %}
<div class = 'add'>
	<h3>You are unable to create a post at this time because you are not signed in.</h2>
	<br>
	<form action="/login">
	<button type="submit" class="btn btn-info">Sign In</button>
	</form>
	<br>
	<form action="/page1">
	<button type="submit" class="btn btn-info">Return to Previous Page</button>
	</form>
</div>
{% endif %}

{% endblock %}
